<!-- {% load static %} permet la prise en compte de l'appli "static" présent dans le dossier "settings"  -->
{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />

    <title>Mes articles</title>
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'main-application/css/main.css' %}"
    />
  </head>
  <body>
    <a href="/en/{{ article.id }}" role="button">{% trans "English" %}</a>
    <a href="/fr/{{ article.id }}" role="button">{% trans "French" %}</a>
    <h1>{{ article.title}}</h1>

    <p>{% blocktrans %} Contenu: {{article.content}} {% endblocktrans %}</p>
    <!-- <p>Date de publication : {{ article.publication_date }}</p> -->
    <p>Par : {{article.author.name}}</p>
    <p>
      <a href="{% url 'main:index' %}"
        >&laquo; Revenir à la liste des articles
      </a>
    </p>
  </body>
</html>
